.forgot-password {
    color: #000; 
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background: #32CDD5;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
}
.login-button:focus {
    outline: #32CDD58A 3px solid;
}

.dont-have-an-account {
    font-weight: normal;
    margin-top: 12px;
}